@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: black;
  color-scheme: only light;
}

.heroimage {
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 30px 30px 70px #868686, -30px -30px 70px #e0e0e0;
}
